
# Processamento de Imanges
# Manipulador de Bitmaps

BitMapManipulator/target/
BitMapManipulator/img_out/
BitMapManipulator/debug/

RuidoGaussiano/target/
RuidoGaussiano/img_out/
RuidoGaussiano/debug/
RuidoGaussiano/input
RuidoGaussiano/output_image